$light: #f9fafb;
$white: #fff;
$c80: #808080;
$ccb: #cbcccd;
$red-light: #e75555;
$header-color: #fbcd08;
$color-text-logo: #761719;
$color-dark-grey: #a1a1a1;
$color-error-light: #f25b6b;
$color-error-dark: #d65c5c;
$color-blue: #3199dc;
$color-dark: #222222;