
$header-gradient-message: linear-gradient(to right, #a64545, #8a3131, #a44343, #740f0f, #771717,#570a0a,#8a3131);

$header-gradient: linear-gradient(to right, #c04dfd, #fbcd08, #fbcd08, #fbcd08, #ead161,#fbcd08,#c04dfd);

$linear-gradient-grey: linear-gradient(to right, #656562, #a4a59f, #949290, #898a84, #6d6f67,#a1a29e,#c6cdb8);

$linear-gradient-violet: linear-gradient(to bottom, #e4bcf8, #aa1ff5, #aa1ff5, #aa1ff5, #aa1ff5,#aa1ff5,#aa1ff5,#aa1ff5,#e4bcf8);