@mixin scloll-main($width, $trumb-color, $trumb-radius, $track-color) {
::-webkit-scrollbar{
    width: $width;
    height: $width;
}  
::-webkit-scrollbar-thumb {
    background-color: $trumb-color;
    border-radius: $trumb-radius;
}
::-webkit-scrollbar-track {
    background-color: $track-color;
}

}